<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <!--  namespace : 클래스 라고 생각하기 -->
<mapper namespace="com.yedam.mypage.mapper.MypageMapper">

  <insert id="reviewAdd" parameterType="MyReviewVO">
  	insert into review
  	values(	  review_seq.nextval
  			, #{userId}
  			, #{reContent}
  			, #{reImage}
  			, #{starRating}
  			, #{orderNo}
  			, #{prodCode})
  </insert>
  
  <update id="updateReviewReg" parameterType="MyReviewVO">
  	update product_orderItem set reviewReg = 'yes' where order_no = #{orderNo} and prod_code = #{prodCode} 
  </update>
  
  <select id="reviewList" parameterType="String" resultType="MyReviewVO">
  
  	select re_no, r.user_id, r.order_no, re_image, r.prod_code, prod_name, star_rating, re_content, order_date
  	  from review r JOIN product_order o
	    ON r.user_id = o.user_id and r.order_no = o.order_no
  	    JOIN product_orderItem i
  	    ON r.prod_code = i.prod_code and r.order_no = i.order_no
  	    where r.user_id = #{id}
  	    order by re_no ASC
  </select>
  
  <select id="reviewDetail" parameterType="int" resultType="MyReviewVO">
  	select *
  	  from review r JOIN product p
  	    ON r.prod_code = p.prod_code
  	 where re_no = #{reNo}
  </select>
  
  <update id="modifyReview" parameterType="MyReviewVO">
  	update review 
  	   set re_content = #{reContent}, star_rating = #{starRating} 
  	 where re_no = #{reNo}
  </update>
  
  <delete id="deleteReview" parameterType="int">
  	delete from review where re_no = #{reNo}
  </delete>
  
</mapper>