<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <!--  namespace : 클래스 라고 생각하기 -->
<mapper namespace="com.yedam.product.mapper.ProductMapper">
  <!--  리스트조회 -->
	<select id="getList" resultType="ProductVO">
	  SELECT * FROM product
	</select>
  
	<select id="getProduct" resultType="ProductVO">
	<!--  상세조회           productList.jsp에서 dduck라고 줌-->
   	 SELECT * FROM product WHERE prod_Code=#{dduck}
	</select>  
  
</mapper>